---
---

body {
    font-family: 'Lato', sans-serif;
}

.tech-logo {
    font-family: 'Lato', sans-serif;
}

.major-logo {
    font-family: 'Abril Fatface', cursive;
    color: deepskyblue;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}